.bmi-input > label {
  display: flex;
  align-items: center;
  margin: var(--item-mr);
}

.bmi-input > label > p,div {
  padding: var(--item-pd);
  height: var(--item-h);
  line-height: var(--item-h);
}

.bmi-input > label > p{
  margin: 0 var(--distance);
  flex: 1;
}

.bmi-input > label > div{
  flex: 2;
}
.bmi-input > label > div >input ,select{
  width: 100%;
  height: var(--item-h);
  line-height: var(--item-h);
  border:var(--input-br);
  outline: none;


}
.bmi-input > label > div.select-list,div>select {
  padding: 0;
  height: 26px;
  line-height: 26px;  
}