@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --item-pd:6px;
  --item-mr:6px;
  --item-h:24px;
  --distance:12px;
  /* --nav-bg:#ff8300; */
  --nav-bg:#3d250d;
  --input-br:1px solid #ff8300;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
div{
  margin: 0;
  padding: 0;
}